@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
    background: #272B33;
    color: white;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
.container {
    margin: 0 auto;
}

.header {
    height: 14vh;
}

.main {
    height: 76vh;
    border:2px solid #272B33;
}

.detail {
    height: 66vh;
}

button:disabled {
    color: #9E9E9E;
}

hr {
    margin: 0 auto;
    border-color: #9E9E9E;
}

span {
    color: #9E9E9E;
}

ul {
    padding: 0 2rem 0 2rem;
}

.status {
    border-radius: 0 0.5rem 0.5rem 0;
}

.loading {
    height: 78vh 
} 

.image {
    width: 20%;
}

.section {
    height: 60vh;
}

.favorites {
    width: 80vw;
    margin: 0 auto;
}
